In [4]:
imiona = ['Piotrek', 'Stefan', 'Paweł', 'Maciek', 'Ola', 'Ala', 'Damian', 'Iwonka', 'Marysia', 'Maja']
osoby = {id_ : imie for id_, imie in zip(range(1, 11), imiona)}

In [5]:
osoby

{1: 'Piotrek',
 2: 'Stefan',
 3: 'Paweł',
 4: 'Maciek',
 5: 'Ola',
 6: 'Ala',
 7: 'Damian',
 8: 'Iwonka',
 9: 'Marysia',
 10: 'Maja'}

In [6]:
print(*osoby.keys(), sep='\n')

1
2
3
4
5
6
7
8
9
10

In [7]:
for id_ in osoby:
    print(id_)

1
2
3
4
5
6
7
8
9
10

In [8]:
print(*osoby.values(), sep='\n')

Piotrek
Stefan
Paweł
Maciek
Ola
Ala
Damian
Iwonka
Marysia
Maja

In [9]:
for imie in osoby.values():
    print(imie)

Piotrek
Stefan
Paweł
Maciek
Ola
Ala
Damian
Iwonka
Marysia
Maja

In [10]:
list_of_tuples = [(id_, osoba) for id_, osoba in osoby.items()]
list_of_tuples

[(1, 'Piotrek'),
 (2, 'Stefan'),
 (3, 'Paweł'),
 (4, 'Maciek'),
 (5, 'Ola'),
 (6, 'Ala'),
 (7, 'Damian'),
 (8, 'Iwonka'),
 (9, 'Marysia'),
 (10, 'Maja')]

In [11]:
list_of_tuples_2 = list(zip(osoby.keys(), osoby.values()))
list_of_tuples_2

[(1, 'Piotrek'),
 (2, 'Stefan'),
 (3, 'Paweł'),
 (4, 'Maciek'),
 (5, 'Ola'),
 (6, 'Ala'),
 (7, 'Damian'),
 (8, 'Iwonka'),
 (9, 'Marysia'),
 (10, 'Maja')]

In [12]:
imiona

['Piotrek',
 'Stefan',
 'Paweł',
 'Maciek',
 'Ola',
 'Ala',
 'Damian',
 'Iwonka',
 'Marysia',
 'Maja']

In [13]:
sorted(imiona)

['Ala',
 'Damian',
 'Iwonka',
 'Maciek',
 'Maja',
 'Marysia',
 'Ola',
 'Paweł',
 'Piotrek',
 'Stefan']

In [14]:
imiona

['Piotrek',
 'Stefan',
 'Paweł',
 'Maciek',
 'Ola',
 'Ala',
 'Damian',
 'Iwonka',
 'Marysia',
 'Maja']

In [15]:
sorted_list_of_tuples = sorted(list_of_tuples, key=lambda x: len(x[1]))[::-1]
sorted_list_of_tuples

[(9, 'Marysia'),
 (1, 'Piotrek'),
 (8, 'Iwonka'),
 (7, 'Damian'),
 (4, 'Maciek'),
 (2, 'Stefan'),
 (3, 'Paweł'),
 (10, 'Maja'),
 (6, 'Ala'),
 (5, 'Ola')]

In [16]:
import numpy as np

In [17]:
znajomosci = [(1, 2), (1, 3), (1, 4), (3, 7), (2, 7), (8, 10), (2, 9), (6, 3), (8, 1)]

In [18]:
znajomosci_osob = {id_: [] for id_ in range(1, 11)}
znajomosci_osob

{1: [], 2: [], 3: [], 4: [], 5: [], 6: [], 7: [], 8: [], 9: [], 10: []}

In [19]:
for index, (p1, p2) in enumerate(znajomosci):
    znajomosci_osob[p1].append(osoby[p2])
    znajomosci_osob[p2].append(osoby[p1])

In [20]:
znajomosci_osob

{1: ['Stefan', 'Paweł', 'Maciek', 'Iwonka'],
 2: ['Piotrek', 'Damian', 'Marysia'],
 3: ['Piotrek', 'Damian', 'Ala'],
 4: ['Piotrek'],
 5: [],
 6: ['Paweł'],
 7: ['Paweł', 'Stefan'],
 8: ['Maja', 'Piotrek'],
 9: ['Stefan'],
 10: ['Iwonka']}